.container-fluid.m-t-xs
	h2.section-heading Hotel list
	.panel.panel-default(*ngIf="size", @slideInDown)
		.panel-body
			button.btn.btn-primary(routerLink="/hotel/add") Add hotel
		table.table.table-hover
			thead: tr
				th Hotel ID
				th Name
				th Address
				th Post code
			tbody
				tr(*ngFor="let hotel of hotels")
					td: a([routerLink]="['/hotel', hotel.id, 'edit']") {{hotel.id}}
					td {{hotel.name}}
					td {{hotel.address}}
					td {{hotel.postCode}}
		.panel-footer &nbsp;
